*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 4s ease;
    overflow: hidden;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 680px;
    position: relative;
    background-image: url(./pngwing.com.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-rec{
    width: 200px;
    margin-top: 100px;
    margin-left: 100px;
    border-radius: 25px;
    color: white;
    background-color: darkcyan;
}

.plane{
    width: 100px;
    height: 50px;
    position: absolute;
    z-index: 0;
    top: 30px;
    left: -300px;
}
 .d-plane{
     top: 0;
    left: 1880px;
 }

 .red{
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 3;
    top: 310px;
    left: 281px;
 }
 .red2{
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 3;
    top: 325px;
    left: 339px;
 }
 .red3{
    width: 19px;
    height: 19px;
    position: absolute;
    z-index: 3;
    top: 296px;
    left: 215px;
 }
 .red4{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    top: 280px;
    left: 137px;
 }
 .red5{
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 3;
    top: 260px;
    left: 40px;
 }

 .not-red{
     transition: 0ms;
     width: 0;
     height: 0;
 }








.block-yellow{
    width: 0;
    transition: 0ms;
 }

 .block-yellow2{
    width: 0;
    transition: 0ms;
 }

 .block-yellow3{
    width: 0;
    transition: 0ms;
 }

 .block-yellow4{
    width: 0;
    transition: 0ms;
 }

 .block-yellow5{
    width: 0;
    transition: 0ms;
 }

 .yellow{
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 3;
    top: 330px;
    left: 283px;
 }
 .yellow2{
    width: 14px;
    height: 14px;
    position: absolute;
    z-index: 3;
    top: 342px;
    left: 341px;
 }
 .yellow3{
    width: 17px;
    height: 17px;
    position: absolute;
    z-index: 3;
    top: 316px;
    left: 218px;
 }
 .yellow4{
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 3;
    top: 301px;
    left: 139px;
 }
 .yellow5{
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    top: 283px;
    left: 42px;
 }

 






 .green{
    display: none;
 }
 .green2{
    display: none;
 }
 .green3{
    display: none;
 }
 .green4{
    display: none;
 }
 .green5{
    display: none;
 }

 .block-green{
     display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 3;
    top: 348px;
    left: 284px;
 }
 .block-green2{
     display: block;
    width: 14px;
    height: 15px;
    position: absolute;
    z-index: 3;
    top: 357px;
    left: 342px;
 }
 .block-green3{
     display: block;
    width: 17px;
    height: 17px;
    position: absolute;
    z-index: 3;
    top: 334px;
    left: 219px;
 }
 .block-green4{
     display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    z-index: 3;
    top: 321px;
    left: 141px;
 }
 .block-green5{
     display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 3;
    top: 305px;
    left: 43px;
 }








.finish{
    width: 600px;
    height: 620px;
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 50px;
}

.car{
    width: 500px;
    height: 250px;
    position: absolute;
    z-index: 6;
    top: 530px;
    right: -480px;
}

.car2{
    width: 450px;
    height: 220px;
    position: absolute;
    z-index: 5;
    top: 470px;
    right: -480px;
}

.car3{
    width: 400px;
    height: 180px;
    position: absolute;
    z-index: 4;
    top: 450px;
    right: -400px;
    
}

.car4{
    width: 350px;
    height: 150px;
    position: absolute;
    z-index: 3;
    top: 440px;
    right: -355px;
}

.car5{
    width: 500px;
    height: 250px;
    position: absolute;
    z-index: 3;
    top: 530px;
    right: -1155px;
}


.car6{
    width: 450px;
    height: 220px;
    position: absolute;
    z-index: 3;
    top: 470px;
    right: -1080px;
}


.car7{
    width: 400px;
    height: 180px;
    position: absolute;
    z-index: 3;
    top: 450px;
    right: -1020px;
}


.car8{
    width: 350px;
    height: 150px;
    position: absolute;
    z-index: 3;
    top: 440px;
    right: -955px;
}





.ds-block{
    right: -280px;
}

.ds-block2{
    right: -280px;
}

.ds-block3{
    right: -200px;
    
}

.ds-block4{
    right: -155px;
}

.ds-block5{
    right: -955px;
}


.ds-block6{
    right: -880px;
}


.ds-block7{
    right: -820px;
}


.ds-block8{
    right: -755px;
}







.d-block{
    display: block;
    right: 2500px;
    top: 530px;
    width: 320px;
    height: 120px;
}
.d-block2{
    display: block;
    right: 2550px;
    top: 510px;
    width: 320px;
    height: 120px;
}
.d-block3{
    display: block;
    right: 2600px;
    top: 490px;
    width: 320px;
    height: 120px;
}
.d-block4{
    display: block;
    right: 2650px;
    top: 470px;
    width: 320px;
    height: 120px;
}
.d-block5{
    display: block;
    right: 2500px;
    top: 530px;
    width: 320px;
    height: 120px;
}
.d-block6{
    display: block;
    right: 2550px;
    top: 490px;
    width: 320px;
    height: 120px;
}
.d-block7{
    display: block;
    right: 2300px;
    top: 480px;
    width: 320px;
    height: 120px;
}
.d-block8{
    display: block;
    right: 2350px;
    top: 470px;
    width: 320px;
    height: 120px;
}